.loginPage {
  padding: 48px 48px 60px;
  width: 27%;
  border-radius: 8px;

  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.loginPage__input_email {
  margin-top: 48px;
}

.loginPage__input_password {
  margin-top: 32px;
}

.loginPage__error {
  margin-top: 24px;
}

.loginPage__button {
  margin: 48px 0 0 0;
}

@media screen and (max-width: 1280px) {
  .loginPage {
    margin-bottom: 200px;
    padding: 40px 32px 56px;
    width: 50%;
  }
}

@media screen and (max-width: 720px) {
  .loginPage {
    margin-bottom: 107px;
    padding: 32px 24px 48px;
    width: 80%;
  }

  .loginPage__button {
    margin: 40px 0 0 0;
  }

  .loginPage_input_email {
    margin-top: 32px;
  }

  .loginPage__input_password {
    margin-top: 24px;
  }
}
